<div id="wrapper">
    <div class="container-pins">
        <% activities.forEach(function(activity){  %>
            <%if (activity.verb == 'Pin') {%>
                <%- include pin.ejs %>
            <% } else{ %>
            	<%- include follow.ejs %>
            <% } %>
        <% }) %>
    </div>
</div>