<li class="notification-item" style="border: 1px red;">
	<div>
        <article>
            <figure>
                <div>
                    <img src="<%= lastFollower.object.actor.avatar_url %>" width="32">
                    <figcaption>
                        <%= lastFollower.object.actor.username %><%if (count > 1) {%> and  <%= count - 1 %>more <% } %> followed you
                        <%= lastFollower.timesince %>
                    </figcaption>
                </div>
            </figure>
        </article>
	</div>
</li>
